body{
 background-color: black;
}
.to-do-list{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    
}
h1{
    font-size: 4rem;
    color:white;
}
button{
    font-size: 1.6rem;
    font-weight: bold ;
    padding: 10px 20px;
    color:white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.add-button{
    background-color: green;
}
.add-button:hover{
    background-color: darkgreen;
}
.delete-button{
    background-color: red;
}
.delete-button:hover{
    background-color: darkred;
}
.move-button{
    background-color: blue;
}
.move-button:hover{
    background-color: darkblue;
}
input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    margin-bottom: 30px;
    width: 30%;
}
ol{
    padding:0;
    width:80%;
    margin: 0 auto;
    
}
li{
   font-size: 2rem;
   font-weight: bold ;
   padding:15px; 
   background-color: hsl(0, 0%, 97%);
   margin-bottom:10px;
   border:3px solid black;
   border-radius: 5px;
   display: flex;
   align-items:center;

}
.text{
    flex:1;
}
.delete-button, .move-button{
    padding:8px 12px;
    font-size: 1rem;
    margin-left: 10px ;
}